<br>
<div class="row">
  <div class="col-md-8">
      <%= image_tag @food_item.image_url_or_default, class: 'img-fluid', style: 'border-radius: 4px; border: 2px solid white;' %>
  </div>
  <div class="col-md-4">
    <div class="card card-block">
      <h4 class="card-title"><%= @food_item.name %></h4>
      <p id="notice"><%= notice %></p>

      <p class="card-text">
        <strong>Description:</strong>
        <%= @food_item.description %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= number_to_currency @food_item.price %>
      </p>

      <p>
        <strong>Section:</strong>
        <%= @food_item.section %>
      </p>

      <p class="card-text">
        <%= link_to "Order", new_food_item_order_path(food_item_id: @food_item.id) %> |
        <%= link_to 'Back', menu_path %>
      </p>
    </div>
  </div>
</div>
